
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>
</head>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script>
    $.ajax({
        url: "https://localhost:7098/api/Employees/TestCORS",
        type: "GET",
        "datatype": "json",
        "dataSrc": "Data"
        success: function (result) {
            console.log(result);
        }
    })
</script>
